.dialog-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .cancel-button {
    background-color: var(--bg-white);
    color: var(--font-secondary);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .create-button {
    background-color: var(--primary);
    color: var(--bg-white);
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 16px;
    font-size: 14px;
    margin-left: auto; /* Push the button to the right */
  }
  
  .create-button:hover {
    background-color: darken(var(--primary), 10%);
  }
  
  .cancel-button:hover {
    background-color: var(--border-color);
  }
  