<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top mobistar-header">
  <div>
    <a class="logo">
      <img src="../../../assets/images/appLogo.ico" alt="logo" />
    </a>
  </div>
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="navbar-wrapper">
      <a class="logoTitle" href="javascript:void(0)">AMS - (Admin Portal)</a>
    </div>
    <ul class="navbar-nav d-flex align-items-center">
      <li class="nav-item">
        <a class="nav-link" mat-button [matMenuTriggerFor]="beforeMenu">
          Hii, Admin
          <i class="material-icons">person</i>
          <i class="material-icons expand-icon">expand_more</i>
        </a>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="custom-menu">
          <!-- <button mat-menu-item>
            <mat-icon>work</mat-icon>
          </button>
          <mat-divider></mat-divider> -->
          <button mat-menu-item (click)="logOutUser()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>